* {
  box-sizing: border-box;
}

body {
  font-family: 'Tilt Neon', sans-serif;
  display: flex;
  background-image: url(/Imgs/Background/bkgrnd.jpg);
  height: 100vh;
  margin: 0;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
}

#game-container {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  display: grid;
  height: 100vh;
  width: 100vw;
  margin-top: -4vmin;
  padding: 2vmin;
}

h3 {
  grid-column-start: 1;
  grid-row-start: 1;
  justify-self: flex-start;
  align-self: flex-start;
  color: #8D00FA;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

#msg {
  color: #8D00FA;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
  /* background: linear-gradient(135deg, #68E3F6, #66FF40); */
  padding: 0.5rem;
  border-radius: 25%;
  grid-column-start: 2;
  grid-row-start: 2;
  justify-self: center;
  align-self: flex-start;
  margin-top: 0;
}

#bet-controls {
  grid-column-start: 1;
  grid-row-start: 3;
  justify-self: center;
  align-self: flex-end;
}

#bet-controls>button {
  border-radius: 50%;
  box-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
  ;
  width: 35px;
  height: 35px;
  margin: 5px;
}

#bet-controls>#bet1 {
  background-image: url('/Imgs/Chips/$1-chip.png');
  background-size: contain;
  border: transparent;
  color: transparent;
  height: 4rem;
  width: 4rem;
}

#bet-controls>#bet5 {
  background-image: url('/Imgs/Chips/$5-chip.png');
  background-size: contain;
  border: transparent;
  color: transparent;
  height: 4rem;
  width: 4rem;
}

#bet-controls>#bet25 {
  background-image: url('/Imgs/Chips/$25-chip.png');
  background-size: contain;
  border: transparent;
  color: transparent;
  height: 4rem;
  width: 4rem;
}

#bet-controls>#bet100 {
  background-image: url('/Imgs/Chips/$100-chip.png');
  background-size: 100%;
  border: transparent;
  color: transparent;
  height: 4rem;
  width: 4rem;
}

#hand-active-controls {
  grid-column-start: 3;
  grid-row-start: 3;
  justify-self: center;
  align-self: flex-end;
}

#deal-btn {
  grid-column-start: 3;
  grid-row-start: 3;
  justify-self: flex-start;
  align-self: flex-end;
  color: #1b0000;
  padding: 10px;
  margin-left: 4.6rem;
  border-radius: 12px;
  font-family: 'Playfair Display', serif;
  background: linear-gradient(135deg, #68E3F6, #66FF40);
}

#hand-active-controls>button {
  color: #1b0000;
  padding: 10px;
  border-radius: 12px;
  font-family: 'Playfair Display', serif;
  background: linear-gradient(135deg, #68E3F6, #66FF40);
}

#replay-Btn {
  grid-column-start: 2;
  grid-row-start: 2;
  justify-self: center;
  align-self: center;
  color: #1b0000;
  padding: 10px;
  border-radius: 12px;
  font-family: 'Playfair Display', serif;
  background: linear-gradient(135deg, #68E3F6, #66FF40);
  width: 15rem;
  height: 5rem;
  font-size: 45px;
}

#bank {
  color: #8D00FA;
  background: linear-gradient(135deg, #68E3F6, #66FF40);
  box-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
  grid-column-start: 2;
  grid-row-start: 3;
  justify-self: center;
  align-self: flex-end;
  margin-top: 8rem;
  border-radius: 25%;
  height: 2.5rem;
  width: 8rem;
  font-size: 1.25rem;
  text-align: center;
  padding-top: .5rem;
}

#dealer-hand {
  grid-column-start: 2;
  grid-row-start: 1;
  justify-self: center;
  align-self: center;
  transform: rotate(180deg);
}

#player-hand {
  grid-column-start: 2;
  grid-row-start: 2;
  justify-self: center;
  align-self: flex-end;
}

#your-bet {
  color: #8D00FA;
  box-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
  background: linear-gradient(135deg, #68E3F6, #66FF40);
  height: 2.5rem;
  width: 8rem;
  font-size: 1.5rem;
  grid-column-start: 2;
  grid-row-start: 3;
  justify-self: center;
  align-self: center;
  text-align: center;
  padding-top: .3rem;
  margin-bottom: .6rem;
  border-radius: 25%;
}

#dscore {
  color: #66FF40;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
  grid-column-start: 1;
  grid-row-start: 1;
  justify-self: center;
  align-self: center;
}

#pscore {
  color: #66FF40;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
  grid-column-start: 3;
  grid-row-start: 1;
  justify-self: center;
  align-self: center;
}

#player-total {
  color: #8D00FA;
  font-size: 2rem;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #8D00FA,
    0 0 82px #8D00FA,
    0 0 92px #8D00FA,
    0 0 102px #8D00FA,
    0 0 151px #8D00FA;
}

#dealer-total {
  color: #8D00FA;
  font-size: 2rem;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #8D00FA,
    0 0 82px #8D00FA,
    0 0 92px #8D00FA,
    0 0 102px #8D00FA,
    0 0 151px #8D00FA;
}