* {
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: darkgray;
  height: 100vh;
  margin: 0;
  justify-content: center;
  align-items: center;
}

#game-container {
  background-image: url('/Imgs/Background/table.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  display: grid;
  padding: 20px, 20px, 20px, 20px;
  height: 100vh;
  width: 100vw;
  margin-top: -4vmin;
  padding: 2vmin;
  background-size: 100%;
}

h1 {
  color: white;
  grid-column-start: 2;
  grid-row-start: 1;
  justify-self: center;
  align-self: flex-start;
}

h3 {
  color: white;
  grid-column-start: 2;
  grid-row-start: 2;
  justify-self: center;
  align-self: flex-start;
}

#bet-divs {
  grid-column-start: 1;
  grid-row-start: 3;
  justify-self: center;
  align-self: flex-end;
}

#bet-divs>div {
  display: inline-block;
}

#player-buttons {
  grid-column-start: 3;
  grid-row-start: 3;
  justify-self: center;
  align-self: flex-end;
}

#player-buttons>button {
  color: #1b0000;
  padding: 10px;
  border-radius: 12px;
  font-family: 'Playfair Display', serif;
  background: linear-gradient(135deg, #C54301, #FFDD7E)
}